<!DOCTYPE html>
<html data-theme="acid">
  <head>
    <title>CultOfBeats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'app-bundle' %>
    <%= stylesheet_pack_tag 'app-bundle' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.14.1/dist/full.css" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="min-h-full">
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </div>
  </body
</html>
