<!DOCTYPE html>
<html data-theme="acid">
  <head>
    <title>CultOfBeats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <%= yield %>
  </body
</html>
